/* Create three equal columns that floats next to each other */
.column3 {
    float: left;
    width: 30%;
    padding: 10px;
  }

.column2 {
    float: left;
    width: 45%;
    padding: 10px;
  }

  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.slightly_right {
  padding-left: 10%;
}

.timetableGroupLabel {
  border-style: solid;
  border-width: 1ch;
  border-color: green;
}

.timetableGroupChosenLabel {
  color: purple;
  border-color: purple;
}

.activityLabel, .timetableLabel {
  border-style: solid;
}